body{
	font-size:1.3em;
}
.grid {
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 0.5fr ;
	grid-template-areas:"anim title" "anim products " "anim who";
	grid-gap:1px 1px;
	height:100vh;
	max-width:720px;
	margin-left:auto;
	margin-right:auto;
}
@media (max-width:500px){
	.grid{
			grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr ;
		grid-template-areas:"title"  "anim" " products" "who";
		text-align:center
	}
}
.title {
	grid-area:title;
	align-self:end;
	font-weight:900;
	font-size:2em;
	padding:8px;
}
.products {
	grid-area:products;
align-self:center;
	margin-top:0px;
	padding:8px;
}
.who{
	grid-area:who;
	align-self:start;
	font-weight:200;
	padding:8px;
	padding-left:10px !important;
	padding-right:10px!important;
}
.anim{
	grid-area:anim;
	justify-self:center;
	align-self:center;
	padding:8px;
}

@media (max-width:500px){
	.grid{
			grid-template-rows: 0.7fr 1fr 0fr 1fr;
		grid-template-columns: 1fr ;
		grid-template-areas:"title"  "anim" " products" "who";
		text-align:center
	}
	.title , .who , .anim , .products{
		align-self:center;
		padding:0px
	}
	.who{
		align-self:start;
		margin-top:8px
	}
	.products{
		align-self:end;
	}
}

a{
	color:#000
}
a:hover{
	color:#555
}